@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-6">Entity Framework + MVC</h1>
</div>

<div class="row mb-4">
    <div class="col-md-4">
        <div class="card h-100">
            <img src="@ViewBag.Imagem1" class="card-img-top opacity-50 h-50">
            <div class="card-body">
                <p class="card-text">
                    O Entity Framework é um mapeador moderno de relação de objetos que permite criar uma camada de acesso a dados limpa,
                    portátil e de alto nível com o .NET (C#) em vários bancos de dados.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card h-100">
            <img src="@ViewBag.Imagem2" class="card-img-top opacity-50 h-50">
            <div class="card-body">
                <p class="card-text mb-auto">
                    Incluindo o Banco de Dados SQL (local e o Azure), SQLite, MySQL, PostgreSQL e Azure Cosmos DB.
                    Ele dá suporte a consultas LINQ, controle de alterações, atualizações e migrações de esquema.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card h-100">
            <img src="@ViewBag.Imagem3" class="card-img-top opacity-50 h-50">
            <div class="card-body">
                <p class="card-text mb-auto">
                    Nesta aplicação temos um CRUD completo das Classes Grupo, Produto e Usuário, persistidos em uma base de dados SQL, e utilizando
                    Bootstrap para exibição do Front-end.
                </p>
            </div>
        </div>
    </div>
    @if (ViewBag.MensagemDeErro != null)
    {
        <br />
        <div class="alert alert-danger">
            @ViewBag.MensagemDeErro
        </div>
    }
</div>