@model bool
@* O modelo booleano que indica se o usuário está logado *@

@if (Model)
{
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacidade</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="" asp-controller="Grupo" asp-action="Index">Grupo</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="" asp-controller="Produto" asp-action="Index">Produto</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="" asp-controller="Usuario" asp-action="Index">Usuário</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="" asp-controller="Feriado" asp-action="Index">Feriados Nacionais</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="" asp-controller="Endereco" asp-action="Index">Consulta CEP</a>
        </li>
        <li class="nav-item">
            @using (Html.BeginForm("Logoff", "Home", FormMethod.Post))
            {
                <input type="submit" value="Logoff" class="btn btn-danger btn-block" />
            }
        </li>
    </ul>
}